#networkList {
  border: 1px solid #888;
}

#serverList {
  border: 1px solid #888;
}

#serverList QLineEdit {
  background: #fff;
}

#ignoreTable QHeaderView::section {
  border: 1px solid #888;
  background-color: #000;
}

#networkTabs {
  background-color: #000;
}

#commandsEdit {
  background-color: #fff;
}